.main {
    background-size: cover;
    height: 100%;
}

.form {
    height: 60%;
}

.form > div {
    height: 100%;
}

.formMain {

    direction: rtl;
}

.formMain > div {
    margin: 20% 5%;
    padding: 10%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.inputDiv {
    height: 25%;
    padding: 20px;
}

.form-group {
    margin-bottom: 1.5rem !important;
}